<meta name="format-detection" content="telephone=no" />
@{
    ViewBag.Title = "Romain Guthier";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/History")
@Styles.Render("~/Content/animate")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/History")
<div class="container-fluid">
    <div id="header-bar" data-position="fixed">
        <div id="logo">
            <a href="#" title="Romain Gauthier" rel="home"><img src="~/images/logo@2x.png" alt="Romain Gauthier" class="retina" id="logoImg" width="220" height="77"></a>
        </div>
    </div>
    <div style="height:120px;"></div>
    <div class="container2">

        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HM</h5>
                <span>2002年</span>
                <p>第一枚机芯的研发</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HM</h5>
                <span>2003年</span>
                <p>第一枚腕表的概念设计</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HM</h5>
                <span>2005年</span>
                <p>第一枚表款的零部件生产</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HM</h5>
                <span>2006年</span>
                <p>完成第一枚腕表的打磨与装配</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HM</h5>
                <span>2006年</span>
                <p>命名第一款产品名称Prestige HM</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HM</h5>
                <span>2007年</span>
                <p>参加巴塞尔国际钟表珠宝展并展出Prestige HM表款</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HM</h5>
                <span>2008-2010年</span>
                <p>生产五只定制款HM</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HMS</h5>
                <span>2009年</span>
                <p>针对HM机芯设计、重新计算加入秒针功能，命名为Prestige HMS</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HMS</h5>
                <span>2010年</span>
                <p>参加巴塞尔国际钟表珠宝展并展出红金、白金、铂金HMS表款</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HMS</h5>
                <span>2011年</span>
                <p>推出具有现代设计的非贵金属腕表，即天然钛金属材质腕表</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HMS</h5>
                <span>2015年</span>
                <p>品牌十周年，HMS进行重新设计，推出HMS TEN十周年纪念</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>HMS</h5>
                <span>2016年</span>
                <p>品牌推出运动系列，黑色ADLC钛金属材质腕表</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>Logical One</h5>
                <span>2009年</span>
                <p>腕表的概念设计，定位超复杂功能腕表</p>
            </div>
        </div>        
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>Logical One</h5>
                <span>2009年</span>
                <p>开始机芯的研发与设计，命名为Logical One</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>Logical One</h5>
                <span>2012年</span>
                <p>制造并生产Logical One表款</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>Logical One</h5>
                <span>2013年</span>
                <p>参加巴塞尔国际钟表珠宝展并展出红金和铂金Logical One表款</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>Logical One</h5>
                <span>2014年</span>
                <p>推出Logical One Secret高级定制腕表</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>Logical One</h5>
                <span>2015年</span>
                <p>制造并生产白金和黑色钛金属的Logical One 表款</p>
            </div>
        </div>
        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h5>Logical One</h5>
                <span>2016年</span>
                <p>制造并生产自然钛金属，以及BTW系列的Logical One表款</p>
            </div>
        </div>
    </div>
</div>