
@{
    ViewBag.Title = "Romain Guthier";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/ImageDownload")
@Styles.Render("~/Content/ImageDownload")
<style>
    .wp-caption {
        background-color: #181717;
        border: medium none;
        border-radius: 3px;
        float: left;
        margin: 0 10px 10px 0;
        padding-top: 4px;
        text-align: center;
    }

    .wp-caption {
        max-width: 100% !important;
    }

        .wp-caption img {
            border: 0 none;
            margin: 0;
            max-width: 100%;
            padding: 0;
        }

        .wp-caption p.wp-caption-text {
            font-size: 12px;
            line-height: 20px;
            margin: 0;
            padding: 0 4px 5px;
            text-align: center;
        }

    h3 {
        line-height: 34px;
        border-bottom: 2px solid #181717;
        text-transform: Uppercase;
        font-size: 16px;
    }
</style>
<div class="container-fluid">
    <div id="header-bar" data-position="fixed">
        <div id="logo">
            <a href="#" title="Romain Gauthier" rel="home"><img src="~/images/logo@2x.png" alt="Romain Gauthier" class="retina" id="logoImg" width="220" height="77"></a>
        </div>
    </div>
    <div style="height:100px;"></div>
    <div class="text-center" style="width: 100%; color: #d1cdc9; padding-top: 150px; " data-bind="visible:ImageDownload.viewModel.Logined()!=true">
        <i class="fa fa-spinner fa-spin"></i> 正在验证身份，请稍候.
    </div>
    <div style="width: 100%; padding-top: 100px;" class="text-center" data-bind="visible:ImageDownload.viewModel.Items().length==0 && ImageDownload.viewModel.Logined()!=null">
        <p>对不起，没有可供您下载的文件。</p>
    </div>
    <div style="width: 90%; margin: 5% auto;">
        <table cellspacing="0" cellpadding="0" border="0" style="color:#d1cdc9">
            <tbody data-bind="template: { name: 'ultemplate', foreach: viewModel.Items }"></tbody>
        </table>
        <script type="text/html" id="ultemplate">
            <tr>
                <td>
                    <h3 data-bind="text:ProductTypeName">PRESTIGE HMS TEN</h3>
                    <div data-bind="template: { name: 'body-template', foreach: Items }"></div>
                </td>
            </tr>
        </script>
        <script type="text/html" id="body-template">
            <div class="wp-caption nailthumb-container" style="width:130px">
                <img height="120" width="120" data-bind="attr:{src:ThumbnailUrl},click:ImageDownload.viewModel.Download">
                <p class="wp-caption-text" data-bind="text:Name"></p>
            </div>

        </script>
    </div>

</div>
