
@{
    ViewBag.Title = "Romain Guthier";
    Layout = "~/Views/Shared/_SwiperLayout.cshtml";
}
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/News")
@Styles.Render("~/Content/animate")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/News")

<div class="container-fluid">
    <div id="header-bar" data-position="fixed">
        <div id="logo">
            <a href="#" title="Romain Gauthier" rel="home"><img src="~/images/logo@2x.png" alt="Romain Gauthier" class="retina" id="logoImg" width="220" height="77"></a>
        </div>
    </div>
    <div style="height:100px;">

    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper" data-bind="template: { name: 'ultemplate', foreach: viewModel.ItemTypes }">
        </div>
        <script type="text/html" id="ultemplate">
            <ul class="timeline swiper-slide" data-bind="template: { name: 'litemplate', foreach: Items }"></ul>
        </script>
        <script type="text/html" id="litemplate">
            <li>
                <a data-bind="template: { name: 'body-template', data: $data },attr:{href:ExternalUrl()==null? ('/home/NewsDetail/'+Id()):ExternalUrl}"></a>
            </li>
        </script>
        <script type="text/html" id="body-template">
            <div class="timeline-panel" style="width:100%">
                <div class="timeline-heading">
                    <h4 class="timeline-title" data-bind="text:Title"></h4>
                    <p>
                        <small class="text-muted">
                            <i class="glyphicon glyphicon-time"></i>
                            <span data-bind="text:' '+Flag()"></span>
                        </small>
                    </p>
                </div>
                <div class="timeline-thumbnail">
                    <img data-bind="attr:{src:ThumbnailUrl} " />
                </div>
                <div class="timeline-body">
                    <p data-bind="text:Description" style="padding-bottom:20px;"></p>
                </div>
            </div>
        </script>
        <!-- Add Pagination -->
    </div>
    <div class="swiper-pagination next"></div>
</div>
