
@{
    ViewBag.Title = "Polish";
    Layout = "~/Views/Shared/_SwiperLayout.cshtml";
}
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/Polish")
@Styles.Render("~/Content/animate")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/Polish")
<div class="container-fluid" style="height: 100%; margin: 0 auto;">
    <div class="logo">
        <img src="/images/logo-nav.png">
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide beveling" id="slide1">
                <div class="contentregion txt4" style="width: 80%; margin: 0 auto;">
                    <div class="content">
                        <div class="center" style="text-align: left; padding-top: 35%">
                            <h2 style="display: none">打磨<span style="font-size: 0.5em; color: #fff; float: right; line-height: 2em; border-bottom: solid 1px #fff">瑞士手表的顶级工艺</span></h2>
                            <p style="display: none">它代表了制表师在跟进市场节奏不断创新时，对于传统手工艺的坚持毫不妥协，钟表代表着对于时间的纪录，制表师对于每一块手表时间的投入同样也能保证每只手表艺术品的独一无二。</p>
                            <p style="display: none">每一个20多年的技师，使用龙胆草配合碾磨剂花费30多个小时以上的时间打磨一块极小的零部件，当零部件发出只属于这个品牌的纹路和光泽之时，定制，专属等一个个字眼才能真正配得上眼前这块 Romain Gauthier。</p>
                            <p style="display: none">Logical One 的构思，开发，设计，制作，装饰，组装完全由Romain Gauthier工厂完成。高度抛光的内部尖锐斜边角度的机芯板（movement plate）和梁桥（bridges）是高级钟表的最高级手工加工的标志，因为到目前为止，机器不能够铣削和抛光尖锐的内部斜面。Romain Gauthier 在Logical One上进一步创造了双角的斜面与尖锐的内部角度，帮助了边界的作用（which give the effect of border）。这项独一无二的使用一个双平行斜面的手工打磨创造了类似在画框中的一幅被画框突出其优美性的画作。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide gemassemble" id="slide2">
                <div class="contentregion txt4" style="width: 80%; margin: 0 auto;">
                    <div class="content">
                        <div class="center" style="text-align: left; padding-top: 35%">
                            <h2 style="display: none">蓝色指针的烧制</h2>
                            <p style="display: none">balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala </p>
                            <p style="display: none">balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="next animated fadeInUp">
        <img src="/images/arrow_up.png">
    </div>
</div>
