
@{
    ViewBag.Title = "Polish";
    Layout = "~/Views/Shared/_SwiperLayout.cshtml";
}
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/Polish")
@Styles.Render("~/Content/animate")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/Polish")
<div class="container-fluid" style="height: 100%; margin: 0 auto;">
    <div class="logo">
        <img src="/images/logo-nav.png">
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide beveling" id="slide1">
                <div class="contentregion txt4" style="width: 80%; margin: 0 auto;">
                    <div class="content">
                        <div class="center" style="text-align: left; padding-top: 35%">
                            <h2 style="display: none">打磨<span style="font-size: 0.5em; color: #fff; float: right; line-height: 2em; border-bottom: solid 1px #fff">瑞士手表的顶级工艺</span></h2>

                            <p style="display: none">瑞士腕表顶级工艺的象征用二个字来形容即为“打磨”,它代表了制表师在跟进市场节奏不断创新时，对于传统手工艺的坚持毫不妥协，腕表代表着对于时间的记录，制表师对于每一块腕表时间的投入同样也能保证每只艺术品的独一无二。在Romain Gauthier每一个细小的零部件都是由经验丰富的制表师，使用龙涎树内胆配合碾磨剂花费30多个小时以上的时间打磨一块极小的零部件，当零部件散发只属于这个品牌的纹路和光泽之时，定制，专属等一个个字眼才能真正配得上眼前这块 Romain Gauthier。</p>
                            <p style="display: none">Logical One 的构思，开发，设计，制造，打磨，装饰，装配完全由Romain Gauthier工厂完成。高度抛光的内部尖锐斜边角度的机芯板（movement plate）和梁桥（bridges）是高级钟表最高级手工制造的标志，因为到目前为止，机器尚不能够铣削和抛光尖锐的内部斜面。Romain Gauthier 在Logical One上进一步创造了双角的斜面与尖锐的内部角度，创造了边界的效果。这项独一无二地使用双平行斜面手工打磨，创造了类似在画框中，一幅被画框突出其优美风景的画作。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide bluepointer" id="slide2">
                <div class="contentregion txt4" style="width: 80%; margin: 0 auto;">
                    <div class="content">
                        <div class="center" style="text-align: left; padding-top: 35%">
                            <h2 style="display: none">蓝色指针的烧制</h2>
                            <p style="display: none">蓝色指针的烧制工艺是最传统一种制表工艺，是通过温度的升高，将钢本身氧化并展现出湛蓝色。工艺十分的复杂，在手工业制表初期，制表师没有很先进的设备去控制温度和均匀度，从而烧制并氧化出最完美的蓝色也是很困难的艺术工艺。Romain Gauthier将蓝色指针的烧制工艺重新带回自己的腕表中也是对传统制表的尊崇。指针烧制过程基本分为几步，首先将切割好的精钢指针烧炼至约300摄氏度，表面氧化而逐渐成为湛蓝色，经过化学溶液的冷却后，再次淬火，提取，最终再次皂化，形成完美的蓝色。</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide gemassemble" id="slide3">
                <div class="contentregion txt4" style="width: 80%; margin: 0 auto;">
                    <div class="content">
                        <div class="center" style="text-align: left; padding-top: 35%">
                            <h2 style="display: none">宝石的装配</h2>
                            <p style="display: none">宝石在腕表上的的应用不仅仅是达到美观的效果，更是保持腕表长久良好运行的基础，在Romain Gauthier采用传统的手工装配方式不是确保每一颗宝石装配于每一个部件时效果达到可接受范围，而是需要确保每一颗宝石装配于每一个部件时达到完美无暇的要求。例如，Logical One按压式上链系统使用十分简单，但这其中关键的就是红宝石链条每一颗宝石的装配，这细小的26颗红宝石都是由一位制表师手工装配完成，以确保最大程度的调节与齿轮间的咬合程度，从而确保没有任何反作用力而影响能量动衡系统的整体运转。 </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide spiral" id="slide4">
                <div class="contentregion txt4" style="width: 80%; margin: 0 auto;">
                    <div class="content">
                        <div class="center" style="text-align: left; padding-top: 35%">
                            <h2 style="display: none">平衡发条的制造与装配</h2>
                            <p style="display: none">装配平衡发条使腕表从静止到运动是一个美妙时刻。通常来讲平衡发条的重量约为2毫克，却可耐受600毫克的张力。为确保如此重要部件达到持久的精确及稳定性，在Romian Gauthier，从材料的选择，到平衡发条的制备及调教，直至装配，都由一位经验丰富的制表师亲手完成。 </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="next animated fadeInUp">
        <img src="/images/arrow_up.png">
    </div>
</div>
