
@{
    ViewBag.Title = "ProductInfo";
    Layout = "~/Views/Shared/_SwiperLayout.cshtml";
}@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/productInfo")
@Styles.Render("~/Content/animate")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/productInfo")


<div class="container-fluid" style="height: 100%;margin: 0 auto;">
    <div class="logo">
        <img src="/images/logo-nav.png">
    </div>
    <div class="navBtn" data-bind="click:viewModel.shownavigation">
        <img src="/images/nav.png">
    </div>
    <div class="navlist" style="left: -180px;">
        <div style="width:10%;left:auto;right:6%;top:2%;" class="layer nClose" data-bind="click:viewModel.navigationClose"><img src="/images/close.png"></div>
        <div style="width:60%;left:18%;top:8%;" class="layer navHead"></div>
        <ul style="width: 100%; left: 0; top: 8%;" class="layer navlist_panel">
            <li class="uli">
                <span data-bind="text:ProductInfo.viewModel.product.name" style="padding: 0 15px;height: 30px;line-height: 30px;color: #bf9060; "></span>
            </li>
            <!-- ko foreach:viewModel.product.items -->
            <li class="uli">
                <a href="#" class="hl navF" data-bind="text:name,css:{active1:$index()==ProductInfo.viewModel.currentItem.index()},click:ProductInfo.viewModel.navigation"></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" id="slide1">
                <div class="topview" style="display:none">
                    <div class="layer bg">
                        <img src="/images/topviewback.jpg">
                    </div>
                    <div class="contentregion layer txt4 absolute-center" style="width: 80%;">
                        <div style="position: relative;width: 100%;max-height:336px;margin-bottom:20px; overflow: hidden;overflow-y:auto;" class="swiper-no-swiping">
                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <tr>
                                        <th>aaa</th>
                                        <th>bbb</th>
                                        <th>ccc</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>11111</td>
                                        <td>22222</td>
                                        <td>33333</td>
                                    </tr>
                                    <tr>
                                        <td>11111</td>
                                        <td>22222</td>
                                        <td>33333</td>
                                    </tr>
                                    <tr>
                                        <td>11111</td>
                                        <td>22222</td>
                                        <td>33333</td>
                                    </tr>
                                    <tr>
                                        <td>11111</td>
                                        <td>22222</td>
                                        <td>33333</td>
                                    </tr>
                                    <tr>
                                        <td>11111</td>
                                        <td>22222</td>
                                        <td>33333</td>
                                    </tr>
                                    <tr>
                                        <td>11111</td>
                                        <td>22222</td>
                                        <td>33333</td>
                                    </tr>
                                    <tr>
                                        <td>11111</td>
                                        <td>22222</td>
                                        <td>33333</td>
                                    </tr>
                                    <tr>
                                        <td>11111</td>
                                        <td>22222</td>
                                        <td>33333</td>
                                    </tr>
                                    <tr>
                                        <td>11111</td>
                                        <td>22222</td>
                                        <td>33333</td>
                                    </tr>
                                    <tr>
                                        <td>44444</td>
                                        <td>44444</td>
                                        <td>44444</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="text-align: center;" class="collectionButton">
                            <a href="#" data-bind="click:viewModel.technicalclose">
                                返回
                            </a>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <div class="layer bg" style="top:8%">
                        <img style="display: none" src="/images/product/Presitge_HMS/HMS_TEN/HMS_TEN_platinum.jpg" />
                        <img style="display: none" src="/images/product/Presitge_HMS/HMS_TEN/HMS_TEN_red_gold.jpg" />
                        <img style="display: none" src="/images/product/Presitge_HMS/HMS_TEN/HMS_TEN_white.jpg" />
                    </div>
                    <div class="contentregion layer txt4" style="left: 10%; top: auto; bottom: 10.5%; visibility: inherit; width: 80%;">
                        <div class="main-title-blog">
                            <h2>
                                <span data-bind="text:ProductInfo.viewModel.currentItem.name"></span><a style="font-size: 0.5em; color: #fff; float: right" href="#" data-bind="click:viewModel.technical">技术参数</a>
                            </h2>
                        </div>
                        <div class="content">
                            <p>
                                Collection Prestige features an original in-house movement and design. The elegant hand-guiolloched open dial with off-center time indication is fairly traditional, but the innovative manufacture movement is anything but.
                            </p>
                        </div>
                        <div class="modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <table class="table table-bordered table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>aaa</th>
                                                    <th>bbb</th>
                                                    <th>ccc</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>11111</td>
                                                    <td>22222</td>
                                                    <td>33333</td>
                                                </tr>
                                                <tr>
                                                    <td>11111</td>
                                                    <td>22222</td>
                                                    <td>33333</td>
                                                </tr>
                                                <tr>
                                                    <td>11111</td>
                                                    <td>22222</td>
                                                    <td>33333</td>
                                                </tr>
                                                <tr>
                                                    <td>11111</td>
                                                    <td>22222</td>
                                                    <td>33333</td>
                                                </tr>
                                                <tr>
                                                    <td>11111</td>
                                                    <td>22222</td>
                                                    <td>33333</td>
                                                </tr>
                                                <tr>
                                                    <td>11111</td>
                                                    <td>22222</td>
                                                    <td>33333</td>
                                                </tr>
                                                <tr>
                                                    <td>11111</td>
                                                    <td>22222</td>
                                                    <td>33333</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-slide" id="slide2">
                <div class="layer bg">
                    <img src="/images/product/Presitge_HMS/Platinum/Romain_Gauthier_Prestige_HMS_platinum_7.jpg">
                </div>
                <div class="contentregion layer txt4" style="left: 10%; top: auto; bottom: 10.5%;  visibility: inherit; width: 80%;">
                    <div class="main-title-blog">
                        <h2><span data-bind="text:ProductInfo.viewModel.currentItem.name"></span></h2>
                    </div>
                    <div class="content">
                        <p>
                            Collection Prestige features an original in-house movement and design. The elegant hand-guiolloched open dial with off-center time indication is fairly traditional, but the innovative manufacture movement is anything but.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" id="slide3">
                <div class="layer bg">
                    <img src="/images/product/Presitge_HMS/Red_gold/Romain_Gauthier_Prestige_HMS_red_gold_2.jpg">
                </div>
                <div class="contentregion layer txt4" style="left: 10%; top: 12%; bottom: auto; visibility: inherit; width: 80%;">
                    <div class="main-title-blog">
                        <h2><span data-bind="text:ProductInfo.viewModel.currentItem.name"></span></h2>
                    </div>
                    <div class="content">
                        <p>
                            Collection Prestige features an original in-house movement and design. The elegant hand-guiolloched open dial with off-center time indication is fairly traditional, but the innovative manufacture movement is anything but.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" id="slide4">
                <div class="layer bg">
                    <img src="/images/product/Presitge_HMS/White_gold/Romain_Gauthier_Prestige_HMS_white_gold_1.jpg">
                </div>
                <div class="contentregion layer txt4" style="left: 10%; top: auto; bottom: 10.5%;  visibility: inherit; width: 80%;">
                    <div class="main-title-blog">
                        <h2><span data-bind="text:ProductInfo.viewModel.currentItem.name"></span></h2>
                    </div>
                    <div class="content">
                        <p>
                            Collection Prestige features an original in-house movement and design. The elegant hand-guiolloched open dial with off-center time indication is fairly traditional, but the innovative manufacture movement is anything but.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        @*<div class="swiper-pagination"></div>*@
    </div>
    <div class="next animated fadeInUp">
        <img src="/images/arrow_up.png">
    </div>
</div>
