@{
    ViewBag.Title = "TrainArticle";
    Layout = "~/Views/Shared/_SwiperLayout.cshtml";
}
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap")
@Scripts.Render("~/bundles/knockout")
@Styles.Render("~/Content/TrainArticle")
@Scripts.Render("~/bundles/TrainArticle")
<div id="header-bar" data-position="fixed">
    <div id="logo">
        <a href="#" title="Romain Gauthier" rel="home"><img src="~/images/logo@2x.png" alt="Romain Gauthier" class="retina" id="logoImg" width="220" height="77"></a>
    </div>
</div>
<div style="height:95px;"></div>
<div class="container-fluid">
    <div data-bind="foreach:viewModel.TrainArticleItems">
        <div class="banner">
            <div class="crop-1">
                <a href="#" data-ftrans="slide" data-bind="attr:{href:'/home/TrainArticleDetail?id='+ Id()}">
                    <h4 data-bind="text:Title"></h4>
                    @*<h5>人体工学的上链按压</h5>*@
                    <img data-bind="attr:{src:Url}"/>
                </a>
            </div>
        </div>
    </div>
</div>

