
@{
    ViewBag.Title = "Romain Guthier";
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
@Scripts.Render("~/bundles/swiper")
@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/TrainContent")
@Styles.Render("~/Content/swiper")
@Styles.Render("~/Content/animate")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/TrainContent")


<body style="background-color: #000">
<div data-bind="html:viewModel.Item.TrainContent" >

</div>
    <div data-bind="visible:TrainContent.viewModel.Item.TrainContent()==null" style="background-color: #000;position:fixed;margin:auto;left:0; right:0; top:0; bottom:0;width:200px; height:150px;">
        <p style="color: #fff">培训尚未开始，敬请期待！</p>
    </div>
</body>





