
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>Romain Gauthier - @ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/swiper")
    @Styles.Render("~/Content/swiper")
</head>
<body>
    @RenderBody()
</body>
</html>
